#IcaoInput, #AddButton {
	height: 21px;
	vertical-align: middle;
}

#IcaoInput {
	border: solid 1px gray;
	width: 180px;
	padding-block: 0;
}

#AddButton {
	box-sizing: content-box;
	width: 42px;
	padding: 0;
	border: solid 1px gray;
}

#stationList {
	width: 230px;
}

.station {
	display: flex;
	justify-content: space-between;
	height: 25px;
}

.location, .wind, .temp, .qnh {
	text-align: center;
}

.location {
	width: 45px;
}

.wind {
	width: 95px;
}

.temp {
	width: 20px;
}

.qnh {
	width: 40px;
}